{{#if isEditing}}

  {{post-details post=model}}

{{else}}
  <h2>{{model.title}}</h2>
  <div class="author-info flex">
    <div class="author-info--avatar">
      <img src="{{model.user.avatar}}">
    </div>

    <div class="author-info__details">
        <span class="details--title mdl-typography--headline">{{model.user.fullName}}</span>
        <span class="details--subtext">{{moment-from-now model.createdAt}}</span>
      </div>
  </div>
  <p>
    {{model.content}}
  </p>
{{/if}}


<div class="post-actions">
  {{#if isEditing}}

    {{#mdl-button isFab=true
                  isColored=true
                  useRipple=true
                  onClick=(action "saveModel" model)
    }}
      {{mdl-icon type="save"}}
    {{/mdl-button}}

    {{#mdl-button isFab=true
                  useRipple=true
                  onClick=(action "cancel" model)
    }}
      {{mdl-icon type="clear"}}
    {{/mdl-button}}

    {{#mdl-button isFab=true
                  useRipple=true
                  onClick=(action "deleteModel" model)
    }}
      {{mdl-icon type="delete"}}
    {{/mdl-button}}
  {{else}}
    {{#mdl-button isFab=true
                  useRipple=true
                  onClick=(action "editModel")
    }}
      {{mdl-icon type="mode_edit"}}
    {{/mdl-button}}
  {{/if}}
</div>